.Revolutionizing{
    width: 100%;
    height: 299px;
    background-color:#1E3448;
    background-image: url(./assets/images/rev-left.svg), url(./assets/images/revright.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
  
  .rev-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0, 33.3%);
    margin: auto;
    width: 806px;
    height: 137px;
    gap: 32px;
    padding: 109px 317px 53px;
  }
  
  .rev-content h1{
    width: 806px;
    height: 57px;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }

  